// Here you can add other styles
.c-body {
  overflow: auto;
}

.c-main {
  max-width: 1600px;
  margin: auto;
}

.mention-sentiment-status-dropdown .dropdown-toggle {
  min-width: 150px;
}

.api-data-table-filter {
  display: flex;
  width: 100%;
  margin-bottom: 0.5rem;
}

.api-data-table-filter input {
  margin-left: 0.25rem;
  text-align: center;
}

.vue-simple-suggest {
  width: 100%;
}

.c-sidebar-backdrop {
  height: 100%;
  width: 100%;
}

.datatable-container {
  > * {
    text-align: left;
  }
  text-align: center;
  .datatable-pagination {
    display: inline-block;
  }

  .datatable-header {
    text-align: center;
  }
}

.card-border-round {
  border-radius: 1rem;
}

.mentions-mobile-info {
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  .mentions-mobile-info-player {
    font-weight: bold;
  }
  .mentions-mobile-info-sentiment {
    margin-top: 0.25rem;
  }
}

.mentions-mobile-comment {
  .mentions-mobile-comment-footer {
    padding-top: 1rem;
    text-align: right;
  }
}
