// Here you can add other styles
.c-body {
  overflow: auto;
}

.c-main {
  max-width: 1600px;
  margin: auto;
}

.c-sidebar-backdrop {
  height: 100%;
  width: 100%;
}

.card-border-round {
  border-radius: 1rem;
}

.mention-sentiment-status-dropdown {
  display: inline-block;
  button {
    border-radius: 0.5rem;
    font-weight: bold;
    color: black;
    padding: 0.125rem 0.5rem 0.125rem 0.5rem;
    margin: 0;
    vertical-align: baseline;
    line-height: normal;
  }
  .dropdown-toggle {
    //min-width: 150px;
  }
  .dropdown-toggle::after {
    content: none;
  }
}

.datatable-container {
  > * {
    text-align: left;
  }
  text-align: center;
  .datatable-pagination {
    display: inline-block;
  }

  .datatable-header {
    text-align: center;
  }
}

.mentions-mobile-comment {
  border-bottom: 2px solid black;
  .mentions-mobile-comment-content {
    .mention-sentiment-status-dropdown {
      button {
        padding: 0;
        background: none;
        border-width: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-width: 3px;
      }
      button:hover {
        color: black;
        background: none;
      }
    }
  }
  .separator {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
