// Here you can add other styles
.c-body {
  overflow: auto;
}

.c-main {
  max-width: 1600px;
  margin: auto;
}

.c-sidebar-backdrop {
  height: 100%;
  width: 100%;
}

.c-header-nav-item {
  letter-spacing: 0.25px;
  font-weight: bold;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.c-header-brand {
  font-size: 1.25rem;
  letter-spacing: 0.25rem;
  font-weight: bold;
  > img {
    max-height: 16px;
    padding-right: 2px;
  }
}

@media (min-width:  768px) {
  .main-card {
    border-radius: 1rem;
  }
}

@media (max-width: 767px) {
  .c-header-brand {
    min-height: 40px;
  }
  .c-subheader {
    min-height: 36px;
  }
  .c-header-nav {
    min-height: 36px;
  }
  .c-main {
    padding: 0;
  }
  .card-border-round {
   border-radius: 0;
  }
  .main-card > .card-body {
    padding-top: 0.75rem;
    padding-right: 0;
    padding-left: 0;
  }
  .c-subheader {
    padding-left: 0;
    padding-right: 0;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
    > * {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.btn-mention-sentiment {
  display: inline-block;
  border-radius: 0.5rem;
  font-weight: bold;
  color: black;
  padding: 0.125rem 0.5rem 0.125rem 0.5rem;
  margin: 0;
  vertical-align: baseline;
  line-height: normal;
}

.sentiment-POSITIVE {
  background-color: #2eb85c;
  border-color: #2eb85c;
}

.sentiment-NEUTRAL {
  background-color: #39f;
  border-color: #39f;
}

.sentiment-NEGATIVE {
  background-color: #e55353;
  border-color: #e55353;
}

.sentiment-NOT_CHECKED {
  background-color: #ced2d8;
  border-color: #ced2d8;
}


.datatable-container {
  > * {
    text-align: left;
  }
  text-align: center;
  .datatable-pagination {
    display: inline-block;
  }

  .datatable-header {
    text-align: center;
    letter-spacing: 0.1rem;
  }

  .datatable-mobile {
    position: relative;
    .datatable-mobile-id {
      position: absolute;
      top: 0.1rem;
      right: 0.25rem;
    }
  }
}

.mention-sentiment-status-dropdown {
  display: inline-block;
  .dropdown-toggle::after {
    content: none;
  }
}

.mentions-mobile-comment {
  .mentions-mobile-comment-header {
    padding-top: 0.5rem;
  }
  .mentions-mobile-comment-content {
    .mention-sentiment-status-dropdown {
      button {
        padding: 0;
        background: none;
        border-width: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-width: 3px;
      }
      button:hover {
        color: black;
        background: none;
      }
    }
  }
}

.mentions-sentiment-filter {
  .multiselect-selected + .multiselect-selected {
    margin-left: 0.25rem;
  }
  .multiselect-selected:after {
    content: "\D7";
    color: #266d4d;
    font-size: 14px;
    padding-left: 0.25rem;
  }
  .multiselect__element {
    display: inline-block;
    min-height: 0;
  }
  .multiselect__option--highlight {
    background-color: transparent;
  }
}

.articles {
  .a-soft {
    font-weight: bold;
    color: #3c4b64;
  }
}
